/* LM: 02-18-2013 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
	/* For IE6 and IE7  See: https://github.com/Schepp/box-sizing-polyfill */
	*behavior: url(css/boxsizing.htc); 
}
a:hover, 
a:active,
a:visited,
a:link { outline: none; }
.hide { display: none; }
.show { display : block; }
.visible { visibility : visible; }
.invisible { visibility : hidden;}
.redb {border: 1px solid red;}
.u {text-decoration: underline;}
.b {font-weight: bold;}
.i {font-style: italic;}
.glow {
	-webkit-box-shadow: 0 0 10px rgba(50, 50, 50, 0.8);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);	
}
.valign-top {vertical-align: top;}
.valign-middle {vertical-align: middle;}
.valign-bottom {vertical-align: bottom;}
.align-r {text-align: right;}
.align-l {text-align: left;}
.align-j {text-align: justify;}
.align-c {text-align: center;}
.away {
	position: absolute;
	top: -1000px;
	left: -1000px;
}
.inline {display: inline;}
.block {display: block;}
.clear, .clr {clear:both; font-size:0; height:0px; line-height:0;}
.left {float: left !important;}
.right {float: right !important;}
.inline_block {
	display: inline-block;
	vertical-align: top;
}
.ie6 .inline_block,
.ie7 .inline_block {
	zoom:1;
	display: inline;
}
.roundies5 {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.roundies10 {-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;}
.opacity50 {opacity: 0.5; filter: alpha(opacity=50);}
.opacity0 {opacity: 0; filter: alpha(opacity=0);}

/************ end of DEV STYLES ***********/
/* IE notice box styles */
.oldie #ie_notice {
	position: absolute; top: 0px; left: 0px;
	width: 100%; display: block; font-size: 30px; font-weight: bold;
	background-color: yellow; z-index: 100; text-align: center; padding: 20px;
	border: 2px solid #ccc;
}
body {
	font-family: arial;
	margin:0;
	padding:0;
	position: relative;
	overflow-x: hidden; /* Needed for IE, so that the horizontal scrollbar won't show if box-shadow is used. */
	
	background: url("../images/SOME_IMAGE.JPG") repeat-x bottom #fff;
}
a, a:active, a:visited, a:link {}
a:hover {}
nav ul {
	margin:0;
	padding:0;			
	list-style: none;
}
	nav li { float: left; }
	nav a { text-decoration: none; }















	



	